<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Student App</title>
  </head>
  <body>
    <div>
      <h2>Student App</h2>
      <input type="text" name="" id="" />
      <button><i class="fas fa-plus-square"></i></button>
    </div>
    <hr />
    <div>
      <input type="text" name="" id="" />
      <button><i class="fas fa-search"></i></button>
    </div>

    <div>
      <ul>
        <li>
          Yassin<button><i class="fas fa-trash"></i></button>
        </li>
        <li>
          Ayman<button><i class="fas fa-trash"></i></button>
        </li>
        <li>
          Embyee <button><i class="fas fa-trash"></i></button>
        </li>
        <li>
          rachida<button><i class="fas fa-trash"></i></button>
        </li>
      </ul>
    </div>
  </body>
</html>
